/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


nav ul{
	display: flex;
    justify-content: space-around;
	text-decoration: none;
	
}

nav li{
	list-style: none;
    
}

a{
	text-decoration: none ;
}


h1{
	align-items: center;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

